body{
    font-family:sans-serif;
    
}
.checklist-cont{
    width:90%;
    margin: 5% 0;
}
.divTable{
    display:table;
    padding:5px;
    
    border-radius: 10px;
    border:1px solid black;
    background-color:lightgray;

}
.divTableHeadingRow{
    display:table-row;  
    color:dimgrey;
    font-weight:300;
    font-size:15px;
    text-align: center;
    border:none;
}
.divTableHeadCell-DEG{
    display:table-cell;   
    padding: 5px;
        border:none;
    border-left: 1px solid dimgrey;

}

.divTableHeadCell-DSC{
    display: table-cell;
    border:none;
    width:60%;
    
    padding: 5px;
}

.divTableCell{
    border:none;
    display:table-cell;
    width:60%;
    padding:5px;
    font-size:13px;
    font-weight: 300;
}
.divTableRow{
    display:table-row
        
}

.divTableRow:nth-child(even) {
                background-color: white;
            }
.divTableRow:nth-child(odd) {
                background-color: lightgrey;
            }

.divTableCell-DEG{
    text-align: center;
    vertical-align: middle;

    border-left: 1px solid grey;
    display:table-cell;
    width:10%;
}

.notes-text-input{
    margin-top:5px;
    font-family: sans-serif;
    font-size:13px;
    font-weight: 200;
    width: 90%;
    text-align: left;
    height:auto;
    text-overflow: 
    
}

.partial-input{
    width:80%;
    border:none;
    border-bottom: 1px solid grey;
    text-align: center;
}