:root{
    --eval-width:60%;
    --eval-margins: auto;

}

body{
    font-family:sans-serif;

}
input:focus{
    outline:none;
}

/*TABLE STYLES*/

.divTable{
    display:table;
    padding:5px 0;

    width:var(--eval-width);
    margin: 15px auto;
    border-radius: 10px;
    border:2px solid lightgray;
    background-color:lightgray;

}
.divTableHeadingRow{
    display:table-row;  
    color:dimgrey;
    font-weight:300;
    font-size:15px;
    text-align: center;
    border:none;
}
.divTableHeadCell-DEG{
    display:table-cell;   
    padding: 5px;
    border:none;
    border-left: 1px solid dimgrey;
    width:10%;

}

.divTableHeadCell-DSC{
    display: table-cell;
    border:none;
    width:60%;

    padding: 5px;
}

.divTableCell{
    border:none;
    display:table-cell;
    width:60%;
    padding: 10px 10px;
    font-size:13px;
    font-weight: 300;
}
.divTableRow{
    display:table-row;
}

.divTableRow:nth-child(even) {
    background-color: white;
}
.divTableRow:nth-child(odd) {
    background-color: lightgrey;
}

.divTableCell-DEG{
    text-align: center;
    vertical-align: middle;

    border-left: 1px solid grey;
    display:table-cell;
    width:10%;
}


/*INPUT STYLES*/
.notes-text-input{
    margin-top:5px;
    font-family: sans-serif;
    font-size:13px;
    font-weight: 200;
    width: 90%;
    text-align: left;
    height:auto;
    color: dimgrey;

    resize:none;
}

.partial-input{
    width:80%;
    border:none;
    border-bottom: 1px solid grey;
    text-align: center;
    background-color: transparent;
}

.repair-cost{
    color:dimgray;
    font-weight: 200;
}

/*TOTAL ROW*/
.total-pane{
    width: var(--eval-width);
    margin:0 auto;
    border: 2px solid lightgrey;
    border-radius: 10px;

    margin-bottom: 20px;

    padding: 5px 0;;

    color:dimgrey;
    font-weight:bold;
    letter-spacing: 1px;
    font-size:15px;

}

.total-label-cell{
    text-align: center;
    padding-right:15px;
    width:100%;
    font-size: 20px;

}
/*DETAILS PANE STYLES*/

.title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.detail-pane{
    width: var(--eval-width);
    margin: 0 auto;
    padding:10px;
    box-sizing: border-box;

    overflow:auto;
    border: 1px solid lightgray;
    border-radius: 10px;

    background-color:lightgrey;

    font-family: sans-serif;
    font-weight: 200;

    font-size: 15px;
}

.view-details{
    width:80%;
    margin:0 10%;
    border: none;
    float:left;
}
.detail-input-line{
    display:block;
    padding:5px 10%;
}
.detail-input-line input{
    width: 70%;
    margin-left:5px;

    font-size:12px;
    font-family: sans-serif;
    font-weight: 200;
    padding-left: 10px;

    background-color: transparent;
    border:none;
    border-bottom: 1px solid dimgrey;
    color: black;
}

.price-details{
    width:80%;
    margin:0 auto;
    margin-top:15px;
    border: none;
    float: left;
    padding-left:10%;
}
.price-details input{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color:dimgray;
    letter-spacing: 1px;
}
/*BUTTON PANE STYLES*/
.button-pane{
    text-align: center;
    width:var(--eval-width);
    margin: auto ;
    background-color:yellow;
}
.button{    
    color: dimgrey;
    background-color:whitesmoke;
    width:80px;
    height:40px;
    margin-bottom: 10px;
    font-size: 10px;

    border: 1px solid lightgray;
    border-radius: 10px;
}
.button:focus{
    outline: none;
}

.button:hover{
    background-color:lightgrey;
    color: whitesmoke;

}
.button-pane div{
    width:25%;
    float:left;
}

/*PRINT BUTTON TOOLTIP*/
#print-tooltip{
    visibility: hidden;
    width:auto;
    font-size: 10px;
    font-weight: bold;
    background-color: rgb(169, 169, 169);
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;    
}


@media screen and (max-device-width: 480px) {

    /*    DETAIL PANE */
    .detail-pane{
        width:90%;
        margin:auto;
        padding:5% auto;
    }
    .detail-pane input{
        width:60%;
    }
    .detail-input-line{
        padding-left:0;
    }

    .price-details input{
        width:40%;
    }
    /*    TABLE STYLES*/
    .divTable{
        width:90%;
        margin:5% auto;
    }
    .repair-cost{
        font-size: 10px;
    }


    /*    TOTAL PANE STYLES*/
    .total-pane{
        width:90%;
        height:auto;
        margin:15px;
    }
    .total-label-cell{
        width:100%;
        text-align: center;
    }

    /*    BUTTON STYLES*/
    .button{
        font-weight: bold;
    }
    .button-pane div{
    width:50%;
    float:left;
}

}


@media print{
    .button-pane{
        display:none;
    }
    @page{
        margin:20px;
    }
}