#TITLE{
    text-align: center;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 30;
    padding-top: 15px;

}
#CALCULATOR{
    margin-top: 20px;
    text-align: center;
}
.VAL_IN{
    width: 100px;
    border:.5px solid lightgrey;  
    font-weight: bold;

}
.VAL_IN:focus{
    outline:none;
}

.DOLLAR_IN{
    display:block;
}
#INPUTS{
    width: 50%;

    box-sizing: border-box;
    margin:0 25%;
    padding: 20px;

    text-align: center; 

    /*
    padding-left: 15%;
    text-align: left;
    */


    background-color: white;
    border:1px solid lightgrey;
    border-radius: 10px;

    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 30px;

}


.button{
    margin-top: 20px;

    /*                LEFT ALIGN*/
    /*                margin-left: 20%; */

    /*                CENTER ALIGN*/
    margin-left: 0; /*center*/
}

#button{
    color: black;

    width:50px;
    height:40px;
    font-size: 20px;
    font-weight: 100 !important;

    border: 1px solid lightgray;
    border-radius: 10px;
}

#button:focus{
    outline:none;
}

.ABBV{
    display: block;
    font-size: 10px;
    margin-top: 5px;
    letter-spacing: .5px;
}
.ABBVs{
    display: block;
    font-size: 8px;
    margin-top: 5px;
    letter-spacing: .5px; 
}
.divTable{
    display: table;
    width: 80%;
    padding: 5px 0;
    margin: 5% 10%;

    border: 1px solid lightgray;

    border-radius: 10px;
    background-color: lightgray;
}

.divTableHeadingRow{
    display:table-row;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 200;

}            
.divTableHeadCell{
    border: none;
    width: 20%;
    display: table-cell;


    text-align: center;
    padding: 15px;
    padding-bottom: 7px;
}

.divTableRow {
    display: table-row;
    border:none;
}

.divTableRow:nth-child(even) {
    background-color: white;
}
.divTableRow:nth-child(even):hover{
    background-color: silver;
}
.divTableRow:nth-child(odd) {
    background-color: lightgray;
}
.divTableRow:nth-child(odd):hover{
    background-color: silver;
}
.divTableRow:nth-child(6){
    background-color: #B5E2AF;
}

.divTableRow:nth-child(6):hover{
    background-color: silver
        /*                    #AAD1A5;*/
}
.divTableCell{

    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;

    border: none;
    border-collapse: collapse;
    width: 20%;

    display: table-cell;
    text-align: center;
    padding: 3px 10px;
}

.divTableBody {

    display: table-row-group;
}

